Repository Anxhul10/fuselage: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{css,scss}": "stylelint --fix",
  "*.{json,jsonc,md,yml,xml,svg}": "prettier --write"
}

chore: specific test in action
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: add working directory
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: add step
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: full test
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: remove await async
  .github/actions/test/index.js
  .github/actions/test/src/runLoki.js
Due: none

chore: tolerance
  .github/actions/test/src/runLoki.js
Due: none

chore: remove step
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: remove specific test
  .github/workflows/ci-pr.yml
Due: prettier --write

chore: remove loadtimeout
  packages/fuselage/package.json
Due: prettier --write

chore: remove chrome tolerance
  .github/actions/test/src/runLoki.js
Due: none

chore: trigger
  package.json
Due: prettier --write

chore: add scripts
  packages/fuselage/package.json
Due: prettier --write

chore: add scrip to github actions
  .github/workflows/ci-pr.yml
Due: prettier --write

update
  packages/fuselage/src/components/Button/Button.tsx
Due: none

update
  packages/fuselage/package.json
Due: prettier --write

chore: test
  packages/fuselage/src/components/Card/Card.stories.tsx
Due: none

chore: test pr
  package.json
Due: prettier --write

chore: remove logs
  .github/actions/loki/fuselageSnap/src/getReasons.js
Due: none

chore: remove full tests on affected files of tools
  .github/actions/loki/fuselageSnap/src/getAffectedComponents.js
Due: none

chore: fuselageSnap non ci init
  package.json
  tools/fuselageSnap-local/bin/fuselageSnap-ci.js
  tools/fuselageSnap-local/bin/fuselageSnap.js
  tools/fuselageSnap-local/package.json
  yarn.lock
Due: prettier --write

test: trigger fuselageSnap
  packages/fuselage/src/components/Button/Button.styles.scss
Due: stylelint --fix

chore: trigger full tests
  package.json
Due: prettier --write

chore: change color of the component
  packages/fuselage/src/components/Button/Button.styles.scss
Due: stylelint --fix

chore: update scss
  packages/fuselage/src/components/Tile/Tile.styles.scss
Due: stylelint --fix

dark
  packages/fuselage/src/components/Tile/Tile.styles.scss
Due: stylelint --fix

refactor: execCommand into function
  .github/actions/loki/fuselageSnap/src/utils/execCommand.js
  tools/fuselageSnap-local/bin/index.js
Due: none
